version: 2.1

commands:
  get_dependencies:
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - run: go get -v -d ./...
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
  get_golangci_lint:
    steps:
      - run:
          command: |
            curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v1.31.0
      - save_cache:
          key: golangci-lint-v1-31-0-{{ checksum "bin/golangci-lint" }}
          paths:
            - "bin/"

jobs:
  "docker-go114 build":
    docker:
      - image: circleci/golang:1.14
    steps:
      - get_dependencies
      - run: go build ./...
  "docker-go114 test":
    docker:
      - image: circleci/golang:1.14
        environment:
          TF_ACC_TERRAFORM_VERSION: "0.12.26"
    parameters:
      test_results:
        type: string
        default: /tmp/test-results
    steps:
      - get_dependencies
      - run: mkdir -p << parameters.test_results >>/report
      - run:
          command: |
            gotestsum --junitfile << parameters.test_results >>/report/gotestsum-report.xml -- -coverprofile=cover.out ./...
            go tool cover -html=cover.out -o coverage.html
            mv coverage.html << parameters.test_results >>
      - store_artifacts:
          path: << parameters.test_results >>
          destination: raw-test-output
      - store_test_results:
          path: << parameters.test_results >>
  "docker-go114 vet":
    docker:
      - image: circleci/golang:1.14
    steps:
      - get_dependencies
      - run: go vet ./...
  "docker-go114 gofmt":
    docker:
      - image: circleci/golang:1.14
    steps:
      - get_dependencies
      - run: ./scripts/gofmtcheck.sh
  "docker-go114 golangci-lint":
    docker:
      - image: circleci/golang:1.14
    steps:
      - get_dependencies
      - get_golangci_lint
      - run: golangci-lint run -v ./...

workflows:
  version: 2
  pr:
    jobs:
      - "docker-go114 build"
      - "docker-go114 test":
          requires:
            - "docker-go114 build"
      - "docker-go114 vet":
          requires:
            - "docker-go114 build"
      - "docker-go114 gofmt":
          requires:
            - "docker-go114 build"
      - "docker-go114 golangci-lint":
          requires:
            - "docker-go114 build"
