# Continuous integration handling for Go
name: ci-go

on:
  pull_request:
    paths:
      - .github/workflows/ci-go.yml
      - .golangci.yml
      - go.mod
      - '**.go'

permissions:
  contents: read

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0
      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version-file: 'go.mod'
      - run: go mod download
      - uses: golangci/golangci-lint-action@08e2f20817b15149a52b5b3ebe7de50aff2ba8c5 # v3.4.0
  terraform-provider-corner-tfprotov5:
    defaults:
      run:
        working-directory: terraform-provider-corner
    name: tfprotov5 (${{ matrix.os}}, Terraform ${{ matrix.terraform}})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0
      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0
        with:
          path: terraform-provider-corner
          repository: hashicorp/terraform-provider-corner
      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version-file: 'go.mod'
      - uses: hashicorp/setup-terraform@633666f66e0061ca3b725c73b2ec20cd13a8fdd1 # v2.0.3
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: go mod edit -replace github.com/hashicorp/terraform-plugin-go=../
      - run: go mod tidy
      - run: go test -v ./internal/protocolprovider
      - run: go test -v ./internal/framework5provider
      - run: go test -v ./internal/sdkv2provider
        env:
          TF_ACC: '1'
      - run: go test -v ./internal/tf5muxprovider
      - run: go test -v ./internal/tf6to5provider
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        terraform:
          - '0.12.*'
          - '0.13.*'
          - '0.14.*'
          - '0.15.*'
          - '1.0.*'
          - '1.1.*'
          - '1.2.*'
          - '1.3.*'
          - '1.4.*'
  terraform-provider-corner-tfprotov6:
    defaults:
      run:
        working-directory: terraform-provider-corner
    name: tfprotov6 (${{ matrix.os}}, Terraform ${{ matrix.terraform}})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0
      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0
        with:
          path: terraform-provider-corner
          repository: hashicorp/terraform-provider-corner
      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version-file: 'go.mod'
      - uses: hashicorp/setup-terraform@633666f66e0061ca3b725c73b2ec20cd13a8fdd1 # v2.0.3
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: go mod edit -replace github.com/hashicorp/terraform-plugin-go=../
      - run: go mod tidy
      - run: go test -v ./internal/framework6provider
      - run: go test -v ./internal/protocolv6provider
      - # Terraform CLI 1.1.5+ is required for upgrading sdk/v2
        if: matrix.terraform != '1.0.*'
        run: go test -v ./internal/tf5to6provider
      - run: go test -v ./internal/tf6muxprovider
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        terraform:
          - '1.0.*'
          - '1.1.*'
          - '1.2.*'
          - '1.3.*'
          - '1.4.*'
  test:
    name: test (Go v${{ matrix.go-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.19', '1.18']
    steps:
      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0
      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version: ${{ matrix.go-version }}
      - run: go mod download
      - run: go test -coverprofile=coverage.out ./...
      - run: go tool cover -html=coverage.out -o coverage.html
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: go-${{ matrix.go-version }}-coverage
          path: coverage.html
