# Continuous integration handling for Go
name: ci-go

on:
  pull_request:
    paths:
      - .github/workflows/ci-go.yml
      - .golangci.yml
      - .go-version
      - go.mod
      - '**.go'

permissions:
  contents: read

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: go-version
        # Reference: https://github.com/actions/setup-go/issues/23
        run: echo "::set-output name=version::$(cat ./.go-version)"
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ steps.go-version.outputs.version }}
      - run: go mod download
      - uses: golangci/golangci-lint-action@v3.1.0
        with:
          skip-go-installation: true
  terraform-provider-corner-tfprotov5:
    defaults:
      run:
        working-directory: terraform-provider-corner
    name: tfprotov5 (${{ matrix.os}}, Terraform ${{ matrix.terraform}})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          path: terraform-provider-corner
          repository: hashicorp/terraform-provider-corner
      - id: go-version
        # Reference: https://github.com/actions/setup-go/issues/23
        run: echo "::set-output name=version::$(cat ./.go-version)"
        working-directory: .
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ steps.go-version.outputs.version }}
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: go mod edit -replace=github.com/hashicorp/terraform-plugin-go=../
      - run: go mod tidy
      - run: go test -v ./internal/protocolprovider
      - run: go test -v ./internal/sdkv2provider
        env:
          TF_ACC: '1'
      - run: go test -v ./internal/tf5muxprovider
      - run: go test -v ./internal/tf6to5provider
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        terraform:
          - '0.12.*'
          - '0.13.*'
          - '0.14.*'
          - '0.15.*'
          - '1.0.*'
          - '1.1.*'
  terraform-provider-corner-tfprotov6:
    defaults:
      run:
        working-directory: terraform-provider-corner
    name: tfprotov6 (${{ matrix.os}}, Terraform ${{ matrix.terraform}})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          path: terraform-provider-corner
          repository: hashicorp/terraform-provider-corner
      - id: go-version
        # Reference: https://github.com/actions/setup-go/issues/23
        run: echo "::set-output name=version::$(cat ./.go-version)"
        working-directory: .
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ steps.go-version.outputs.version }}
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: go mod edit -replace=github.com/hashicorp/terraform-plugin-go=../
      - run: go mod tidy
      - run: go test -v ./internal/frameworkprovider
      - run: go test -v ./internal/protocolv6provider
      - # Terraform CLI 1.1.5+ is required for upgrading sdk/v2
        if: matrix.terraform != '1.0.*'
        run: go test -v ./internal/tf5to6provider
      - run: go test -v ./internal/tf6muxprovider
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        terraform:
          - '1.0.*'
          - '1.1.*'
  test:
    name: test (Go v${{ matrix.go-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.18', '1.17' ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - run: go mod download
      - run: go test -coverprofile=coverage.out ./...
      - run: go tool cover -html=coverage.out -o coverage.html
      - uses: actions/upload-artifact@v3
        with:
          name: go-${{ matrix.go-version }}-coverage
          path: coverage.html
