# Continuous integration handling for Go
name: ci-go

on:
  pull_request:
    paths:
      - .github/workflows/ci-go.yml
      - .golangci.yml
      - go.mod
      - '**.go'

permissions:
  contents: read

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version-file: 'go.mod'
      - run: go mod download
      - uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8 # v6.1.1
  terraform-provider-corner-tfprotov5:
    defaults:
      run:
        working-directory: terraform-provider-corner
    name: tfprotov5 (${{ matrix.os}}, Terraform ${{ matrix.terraform}})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: terraform-provider-corner
          repository: hashicorp/terraform-provider-corner
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version-file: 'go.mod'
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: go mod edit -replace github.com/hashicorp/terraform-plugin-go=../
      - run: go mod tidy
      - run: go test -v ./internal/protocolprovider
      - run: go test -v ./internal/framework5provider
      - run: go test -v ./internal/sdkv2provider
        env:
          TF_ACC: '1'
      - run: go test -v ./internal/tf5muxprovider
      - run: go test -v ./internal/tf6to5provider
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        terraform: ${{ fromJSON(vars.TF_VERSIONS_PROTOCOL_V5) }}
  terraform-provider-corner-tfprotov6:
    defaults:
      run:
        working-directory: terraform-provider-corner
    name: tfprotov6 (${{ matrix.os}}, Terraform ${{ matrix.terraform}})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: terraform-provider-corner
          repository: hashicorp/terraform-provider-corner
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version-file: 'go.mod'
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: go mod edit -replace github.com/hashicorp/terraform-plugin-go=../
      - run: go mod tidy
      - run: go test -v ./internal/framework6provider
      - run: go test -v ./internal/protocolv6provider
      - # Terraform CLI 1.1.5+ is required for upgrading sdk/v2
        if: matrix.terraform != '1.0.*'
        run: go test -v ./internal/tf5to6provider
      - run: go test -v ./internal/tf6muxprovider
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        terraform: ${{ fromJSON(vars.TF_VERSIONS_PROTOCOL_V6) }}
  test:
    name: test (Go v${{ matrix.go-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.23', '1.22']
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version: ${{ matrix.go-version }}
      - run: go mod download
      - run: go test -coverprofile=coverage.out ./...
      - run: go tool cover -html=coverage.out -o coverage.html
      - uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: go-${{ matrix.go-version }}-coverage
          path: coverage.html
