# Continuous integration handling for Protocol Buffers
name: ci-protobuf

on:
  pull_request:
    paths:
      - .github/workflows/ci-protobuf.yml
      - go.mod
      - go.sum
      - 'tfprotov5/internal/tfplugin5/*'
      - 'tfprotov6/internal/tfplugin6/*'
      - tools/go.mod
      - tools/go.sum

permissions:
  contents: read

jobs:
  protoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
      - run: go mod download
      - run: make protobuf
      - name: git diff
        run: |
          git diff --compact-summary --exit-code ./tfprotov5/internal/tfplugin5 ./tfprotov6/internal/tfplugin6 || \
            (echo; git diff ./tfprotov5/internal/tfplugin5 ./tfprotov6/internal/tfplugin6; echo; echo "Unexpected difference in directories after code generation. Run 'make protobuf' command and commit."; exit 1)
